.nav-logo, .nav-link {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.2;
    vertical-align: top;
    color: #333333;
    // font-weight: bold;
    display: block;
    padding: 5px 10px;

    svg {
      vertical-align: top;
      font-size: 1.8rem;
      margin-right: 10px;
    }
}
.navbar-wrap {
  background: #fff;
  height: 100%;
  font-size: 16px;
  line-height: 1.2;
  // min-width: 180px;
  
  box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.1);
  .navbar-nav li {
    // float: left;
    list-style: none;
    // padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    &:hover {
      background-color: #f5faff;
      .nav-link {
        color: #007aff;
      }
    }
    &.active {
      background-color: #f5faff;
      border-right: 8px solid #007aff;
      .nav-link {
        color: #007aff;
      }
    }
  }

  @media only screen and (max-width: 960px) {
    // display: none !important;
    min-width: 220px;
    flex-wrap: nowrap !important;
  }
}
.nav-logo {
    display: block;
    padding: 20px 10px 17px;
    margin-bottom: 30px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.03);
}
.nav-divider {
  margin: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.lang-wrap {
  float: right;
}