@import '../../styles/import';

.input-common {

  .MuiFormControl-root,
  .MuiFilledInput-adornedStart {
    width: 100%;
    font-family: $font;
    background-color: $white;
    box-shadow: $search-shadow;
  }

  .MuiFilledInput-root:hover {
    background-color: $white;
  }

  .MuiSelect-root:hover {
    background-color: $white;
  }

  .MuiFilledInput-root.Mui-focused {
    background-color: $white;
  }

  .MuiInputBase-input {
    font-size: 1.4rem;
    padding: 1rem 0;
  }

  .MuiSelect-icon {
    color: $blue-primary;
  }

  .MuiSelect-select {
    padding-left: 5px;

    &:focus {
      background-color: $white;
    }
  }

  .MuiFilledInput-underline:before {
    border-bottom: 0;
  }

  .MuiInput-underline:before {
    border-bottom: 0;
  }

  .MuiSvgIcon-fontSizeLarge {
    color: $grey;
  }

  .MuiInputAdornment-filled.MuiInputAdornment-positionStart:not(.MuiInputAdornment-hiddenLabel) {
    margin-top: 0;
  }
}

.sub-dropdown {
  width: 100%;

  .MuiFormControl-root {
    width: 100%;
  }
}
