.container-wrap {
    min-height: 100vh;
    background: #fff;
}
.container {
    padding: 10px 30px;
}
.full-height {
    height: 100%;
}
.error-title {
    font-size: 12rem;
    line-height: 1.2;
    color: $black-dark;
    text-align: center;
}
.error-text {
    font-size: 2rem;
    line-height: 1.2;
    color: $black-dark;
    text-align: center;
}
