.container-wrap {
  min-height: 100vh;
  background: #fff;
  @include for-below-tablet {
    min-height: calc(100vh - 41px);
  }
  &__navigation {
    z-index: 1;
  }
}

.page-container {
  padding: 2rem 3rem;
  background-color: rgba($black,.04);
  @include for-phone-only {
    padding: 2rem 1.5rem;
  }
}

.full-height {
  height: 100%;
}

.error-title {
  font-size: 12rem;
  line-height: 1.2;
  color: $black-dark;
  text-align: center;
}

.error-text {
  font-size: 2rem;
  line-height: 1.2;
  color: $black-dark;
  text-align: center;
}

.success-box {
  border: 1px $green solid;
  color: rgba($black, .8);
  background: $green-tint;
  padding: 16px;
  font-size: 1.6rem;
  line-height: 2.3rem;
  margin-top: 36px;
  word-break: break-word;
}

.page-header {
  padding: 1.6rem 3rem;
  background: $white;
  @include for-phone-only {
    padding: 1.6rem 1.5rem;
  }
}

.outer-container {
  background: $blue-primary-bg;
  min-height: 100vh;
}

.container-padding {
  padding: 1rem 3rem 0 3rem;
}

.main-container {
  position: relative;
}

.filter-container {
  height: 6rem;
  position: absolute;
  z-index: 3;
  overflow-y: hidden;
  transition: height 0.15s ease-out;
}

.filter-container-overlay {
  height: auto;
  overflow-y: unset;
  position: absolute;
  z-index: 3;
  background-color: $blue-primary-bg;
  transition: height 0.15s ease-in;
}

.sort-pagination {
  padding-top: 5.5rem;
}

.mob-header {
  // background: rgba(173, 171, 189, 0.2);
  background: $blue-primary-bg-dark;
  padding: 6px 0px;
}

.mob-logo {
  width: 100px;
  left: calc(50% - 100px);
  margin: 8px 0;
  vertical-align: top;
  position: relative;
}

.full-heigh-container {
  height: 100vh;
  overflow: auto;
  @include for-below-tablet {
    height: calc(100vh - 41px);
  }
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;

  &-show {
    display: block;
  }
}

.table-container {
  padding: 1rem 3rem;
}

.mt-15.mt-15 {
  margin-top: 15px;
}
