.date {
    color: $blue-primary;
    font-weight: bold;
    font-size: 1.6rem;
}
.heading-primary {
    font-size: 1.6rem;
    font-family: $primary-font;
    color: $black-light;
}
.heading-secondary {
    font-size: 1.6rem;
    font-family: $primary-font;
}

.text {
    &--secondary {
        color: rgba($black, .32);
        font-size: 1.8rem;
        line-height: 2rem;
        word-break: break-word;
    }
    &--uppercase {
        text-transform: uppercase;
    }
    &--link {
        color: $blue-primary;
        font-size: 1.6rem;
        line-height: 1.8rem;
        text-decoration: none;
        word-break: break-word;
    }
}

.heading {
    &--xl {
        font-size: 4.8rem;
        line-height: 6rem;
        margin-bottom: 16px;
        word-break: break-word;
    }
    &--lg {
        font-size: 3.6rem;
        line-height: 4.4rem;
        margin-bottom: 16px;
        word-break: break-word;
    }
}

