.date{
    color: $blue-primary;
    font-family: $primary-font-bold;
    font-size: 1.6rem;
}
.heading-primary{
    font-size: 1.6rem;
    font-family: $primary-font;
    color: $black-light;
}
.heading-secondary{
    font-size: 1.6rem;
    font-family: $primary-font;
}
