//COLORS

$blue-primary: #007aff;
$blue-primary-bg: #f5faff;
$blue-medium: #006FAC;
$blue-dark: #004A82;

$yellow: #FFEB2A;
$grey-light: #E3E4E5;
$grey-dark: #C9CCCC;
$grey-dark-font: #909295;

$black-light: #424243;
$black-dark: #333;
$black: #000000;
$white: #ffffff;

$DBDFE9: #DBDFE9;
$FAFAFA: #FAFAFA;

$orange: #FF9500;

$shadow: 0.1rem 0.2rem 0.3rem 0.4rem rgba($black, 0.03);
$hero-img: "../../img/hero.png";


$mob-min: 48em;

// FONTS

$primary-font: "Proxima Nova Thin";
$primary-font-bold: "Proxima Nova Regular";

$font: 'Lato',
sans-serif;
$font-weight-normal: normal;
$font-weight-bold: bold;
