//COLORS

$blue-primary:      #007aff;
$blue-primary-bg:   #f5faff;
$blue-primary-bg-dark: #c3e1ff;
$blue-medium:       #006FAC;
$blue-dark:         #004A82;

$yellow:            #FFEB2A;

$grey:              #94979B;
$grey-light:        #E3E4E5;
$grey-dark:         #C9CCCC;
$grey-dark-font:    #909295;
$grey-dot: #c7c7cc;

$black-light:       #424243;
$black-dark:        #333;
$black:             #000000;
$white:             #ffffff;
$red:               #ff2b1f;
$alice-blue:        #f5faff;
$green:             #4cd964;
$green-tint:        #edfbef;

$green: #4CD964;

$cell-border-color: #DBDFE9;
$row-bg-dark: #FAFAFA;

$orange: #FF9500;

$shadow: 0.1rem 0.2rem 0.3rem 0.4rem rgba($black, 0.03);
$search-shadow: 0 2px 10px 0 rgba($black, 0.03);
$paper-shadow: 1px 0 10px 0 rgba($black, 0.1);;
$input-shadow: 0 1px 5px 0 rgba($black, 0.15);


$mob-min: 48em;

// FONTS

$primary-font: "Lato";

$font: 'Lato',
sans-serif;
$font-weight-normal: normal;
$font-weight-bold: bold;

// Breakpoints
$mob-min: 48em;
$tablet-landscape: 960px;
