@import '../../styles/index.scss';

.renderer-container {
    display: flex;
    align-items: center;

    &__dot {
        margin-right: 0.8rem;
        height: 1.2rem;
        width: 1.2rem;
        background-color: $black;
        border-radius: 50%;
    }

    &__dot-orange {
        background-color: $orange;
    }
}
