@import '../../styles/index.scss';

.facility-container {
    display: flex;
    align-items: center;

    .icon {
        margin-left: 0.5rem;
    }

    .dot {
        margin-right: 0.8rem;
        height: 1.2rem;
        width: 1.2rem;
        background-color: $black;
        border-radius: 50%;
    }

    .dot-orange {
        background-color: $orange;
    }

    .dot-green {
        background-color: $green;
    }

    .dot-grey {
        background-color: $grey-dot;
    }
}
