@import '../../styles/import';

.pagination-controller {
  margin: 1rem 0;

  .MuiButton-root {
    min-width: 2px;
    padding: 6px 16px;

    @include for-below-tablet {
      padding: 6px 10px;
    }

    @include for-phone-only {
      padding: 0.6rem;
    }
  }

  .MuiGrid-spacing-xs-2 {
    .MuiGrid-item {

      &:first-child,
      &:last-child {
        padding: 0.8rem 0;
      }
    }
  }

  .MuiGrid-spacing-xs-2 {
    width: auto;
    margin: 0;
  }

  .MuiButton-contained {
    height: 4rem;
    color: $blue-primary;
    background-color: $white;
    border-radius: 0;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);

    &:hover {
      background-color: $white;
    }
  }

  &__range {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    text-align: center;
  }

  &__page-number {
    font-size: 10px;

    @include for-phone-only {
      font-size: 0.8rem;
    }
  }
}
