@import '../../styles/index.scss';

.grid-wrapper {
    height: 80vh;
    width: 100%;
}

.ag-theme-balham {
    font-weight: $font-weight-normal;
    font-family: $font;
    font-size: 1.4rem;

    .ag-row {
        color: $black-dark;
        box-shadow: $shadow !important;
        // box-shadow: 0 0 2px rgba(0, 0, 0, 0.15) !important;

        .ag-cell {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

    .ag-ltr {
        .ag-cell {
            border-right: 1px solid $DBDFE9;

        }
    }

    .ag-header-cell {
        border-right: 1px solid $DBDFE9;
    }

    .ag-header {
        background: $white;
    }

    .ag-header-cell-text {
        font-weight: $font-weight-bold;
        color: rgba($black, 0.8);
    }

    .ag-row-even {
        background: $FAFAFA;
    }

    .ag-row-odd {
        background: $white;
    }
}

.ag-cell-icon-wrap {
    cursor: pointer;
}
