@import '../../styles/import';

.header-container {
  display: flex;
  align-items: center;
  min-height: 8.6rem;
  background: $white;
  box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.1);

  &__search-container {
    padding: 0 3rem;
    max-width: 600px;
  }
}
